html{background-color: rgba(0, 0, 0, 0.884);}

h1{
  text-align: center;
  color: rgba(69, 159, 69, 0.607);
  font-family:monospace;
  font-size: 360%;
}

.contentCards{
  display: flex;
  background-color: rgba(53, 53, 53, 0.884);
  border-radius: 10%;
  width: 70%;
  margin: auto;
  flex-direction: column;
}

.divImage{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  border-radius: 10%;
}

#contentCardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contentCards:hover{
  background-color: rgb(91, 91, 146);
}

.divText{
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-family: cursive;
}

@media (pointer:none), (pointer:coarse) {
  #contentCardsContainer{
    grid-template-columns:none;
  }

  .contentCards{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  h1{
    font-size: 30px;
  }
}